.containerForm {
    border-radius: 1%;
    background-color: map-get($colors , color-four );
  }
  
  .InformationContact {
    background-color: map-get($colors , color-four );
    border-radius: 2%;
    padding: 14px;
  }
  
  