.nosotros {
    background: map-get($colors , color-one);
    h1 {
        font-size: 3rem;
        }
    p {
    font-size: 2rem;
    }
    .nosotros--video{
        iframe {
        @extend .ubicacion;
        }
    }
}
.ubicacion{
    background: map-get($colors , color-one);
    iframe{
        width: 60vw;
    }
}



