.nosotros {
    background: linear-gradient 15deg, map-get($colors , color-four) map-get($colors , color-one );
    h1 {
        font-size: 3rem;
        }
    p {
    font-size: 2rem;
    }
    .nosotros--video{
        iframe {
        @extend .ubicacion;
        }
    }
}
.ubicacion{
    iframe{
        width: 60vw;
    }
}



