@media (min-width: 850px) {
    .nosotros {
            iframe {
            margin-bottom: 25px;
            width: 70vw;
            height: 50vw;
        }
    }
    .ubicacion {
        iframe{
            margin-bottom: 25px;
            width: 70vw;
            height: 50vw;
        }
    }
}